* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  width: 100%;
}

.heading, button {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container {
  padding-left: 165px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* navbar */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-right: 165px;
  padding-bottom: 120px;
}

.navbar-content {}

.navbar-cta {
  letter-spacing: 1px;
}

.nav-dark {
  font-weight: 700;
  padding: 0 20px;
}

.nav-light {
  font-weight: 700;
  color: hsl(231, 7%, 65%);
  padding: 0 20px;
}

/* content */
.img-device {
  background-size: contain;
  position: relative;
  right: -265px
}

.pill {
  border-radius: 50px;
  width: 50px;
  height: 25px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 28px;
}

.pill-p {
  letter-spacing: 5px;
}

.pill-p, .btn-p {
  color: hsl(231, 7%, 65%);
}

.content-h {
  font-size: 72px;
  font-weight: 700;
}

.content-p {
  color: hsl(230, 11%, 40%);
}

button {
  width: 185px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: hsl(0, 100%, 68%);
  border: 0;
  border-radius: 5px;
}
