* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  width: 100%;
  color: hsl(230, 29%, 20%);
}

.heading, button {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
}

.container {
  padding-left: 165px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.dropdown {
  display: none;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 165px 130px 0;
}

.hamburger-img:hover, .close-img:hover {
  cursor: pointer;
}

.hamburger-img {
  display: none;
}

.close-img {
  display: none;
}

.navbar-cta {
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}

.nav-dark:hover, .nav-light:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-dark {
  font-weight: 700;
  padding: 0 20px;
}

.nav-light, .dot {
  font-weight: 700;
  color: hsl(231, 7%, 65%);
  padding: 0 20px;
}

/* content */
.content {
  display: flex;
  flex-direction: row;
}

.pills {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pill {
  border-radius: 50px;
  width: 50px;
  height: 25px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-right: 15px;
}

.pill-p {
  letter-spacing: 5px;
}

.pill-p, .btn-p {
  color: hsl(231, 7%, 65%);
}

.main {
  width: 50%;
  padding-top: 30px;
}

.bg-content {
  position: fixed;
  z-index: 1;
  right: -265px;
}

.bg-content img {
  height: 100%;
  background-size: cover;
}

.content-h {
  font-size: 70px;
  font-weight: 700;
  padding-top: 28px;
  padding-bottom: 40px;
  line-height: 1;
}

.content-p {
  color: hsl(230, 11%, 40%);
  padding-bottom: 60px;
  line-height: 1.3;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-p {
  padding-left: 23px;
  letter-spacing: 3.5px;
  font-size: 16px;
}

button {
  width: 185px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: hsl(0, 100%, 68%);
  border: 0;
  border-radius: 5px;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.color-section {
  background-color: hsl(207, 33%, 95%);
  width: 700px;
  height: 425px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 66px;
}

@media (max-width: 700px) {
  .navbar-cta {
    display: none;
  }

  .hamburger-img, .close-img {
    display: flex;
    position: relative;
    z-index: 1;
  }

  #close {
    display: none;
  }

  .container {
    padding-left: 32px;
  }

  .logo {
    width: 23px;
    height: 23px;
  }

  .dropdown {
    display: none;
    flex-direction: column;
    font-size: 16px;
    width: 311px;
    height: 233px;
    background-color: #fff;
    align-items: center;
    position: absolute;
    top: 100px;
    z-index: 2;
  }

  .dropdown-btn, .dropdown-btn-light {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
  }

  .dropdown-btn {
    padding-bottom: 27px;
  }

  .dropdown-btn-1 {
    padding-top: 27px;
  }

  hr {
    width: 80%;
  }

  .dropdown-btn-light {
    padding: 23px 0;
    color: hsl(231, 7%, 65%);
  }

  /* navbar */
  .navbar {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 40px 34px 60px 0;
    align-items: normal
  }

  .navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  /* content */
  .content {
    flex-direction: column-reverse;
  }

  .pill-p {
    letter-spacing: 3.4px;
  }

  .pill-p, .btn-p {
    color: hsl(231, 7%, 65%);
  }

  .main {
    padding-top: 85px;
    width: 100%;
  }

  .bg-content {
    position: relative;
  }

  .bg-content img {
    position: relative;
    height: 240px;
    right: 287px;
  }

  .content-h {
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 24px;
  }

  .content-p {
    padding-bottom: 28px;
  }

  .btn-p {
    padding-left: 20px;
    letter-spacing: 2px;
  }

  button {
    width: 153px;
    height: 40px;
    font-size: 14px;
    letter-spacing: .8px;
  }

  .color-section {
    width: 186px;
    height: 425px;
  }
}
