body {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

body .container-fluid {
  padding: 0 80px 0;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

/* title */
.navbar {
  margin-top: 50px;
  margin: 2% 4% 0;
}

#title .navbar-brand {
  margin-right: 0;
}

#title {
  margin-bottom: 100px
}

.title-img {
  width: 100%;
  padding: 10%;
}

.title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-text h1, #features h1 {
  margin-bottom: 25px;
  line-height: 1.5;
}

.title-text p {
  padding-right: 55px;
  font-size: 18px;
}

#title .header-part {
  margin: 100px 0;
}

/* features */
#features {
  margin-top: 150px;
  padding: 150px 0;
  position: relative;
  background-color: #F6F6FE;
}

#features::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 85px;
  background-image: url(../images/bg-curve-desktop.svg);
  background-size: 100% 100%;
}

#features .f-p {
  font-size: 18px;
  padding-right: 50px;
}

.feature-img {
  width: 100%;
  padding: 10%;
}

#features a {
  color: #3C9F8F;
}

/* card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  height: 220px;
  padding: 0 30px 0;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  margin-top: 40px;
}

.card .quote-img {
  margin-top: 15px;
}

.card .testimonial {
  padding-top: 15px;
}

.detail {
  display: flex;
  flex-direction: row;
}

#features .detail-img {
  border-radius: 100%;
}

#features .detail-text {
  padding-left: 10px;
}

#features .detail-p {
  font-size: xx-small;
}

#features .detail-heading {
  margin-bottom: 0;
  font-size: smaller;
}

/* access */
#access {
  background-color: #585989;
  color: #fff;
  padding: 100px 0;
}

#access h3 {
  margin-bottom: 20px;
}

#access p {
  padding-right: 90px;
}

#access .text-part {
  padding-right: 150px;
}

/* cta */
#cta {
  background-color: #070439;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  padding: 100px 0 60px;
}

#cta ul {
  list-style-type: none;
  padding-inline-start: 0;
}

#cta .circle {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}

.brand-copy {
  margin-left: 15px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.first-row {
  margin-bottom: 20px;
}

/* Button-top */
input[type=text], select {
  width: 320px;
  height: 45px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #070439;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 200px;
  height: 45px;
  background-color: #3065F8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

/* button-bottom */
#access input[type=text], select {
  width: 480px;
  height: 50px;
}

#access input[type=submit] {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-left: 0;
}

@media (max-width: 500px) {
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-size: 19px;
    line-height: 1.7;
  }

  .navbar {
    margin: 4% 0;
  }

  #title input[type=text], select {
    width: 100%;
  }

  #title input[type=submit] {
    width: 100%;
    margin: 0;
  }

  #access input[type=submit], #access input[type=text], select {
    width: 80%;
  }

  body .container-fluid {
    margin: 0;
    padding: 0 30px 0;
  }

  /* title */
  #title {
    text-align: center;
  }

  #title-text {
    padding: 0;
    font-size: 14px;
  }

  #title p {
    padding: 0;
  }

  .title-img, .feature-img {
    padding: 0;
  }

  .brand {
    width: 80px;
    height: 30px;
  }

  .brand-copy {
    margin-left: 30px;
  }

  #title p, #access p, #features .f-p, #access p {
    font-size: 14px;
  }

  /* features */
  #features {
    text-align: center;
    padding: 50px 0;
  }

  #features .f-p {
    padding: 0;
  }

  #features::before {}

  .card {
    width: 80%;
    text-align: left;
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-left: 30px;
  }

  .card .testimonial {
    font-size: 10px;
  }

  /* access */
  #access {
    padding: 50px 1px;
    text-align: center;
  }

  #access p {
    padding: 0 15px;
  }

  #access .text-part {
    padding: 0;
  }

  /* cta */
  #cta {
    padding: 50px 0;
  }

  .cta-row {
    margin: 20px;
  }

  .flex {
    justify-content: center;
  }

  .header-part, .feature-part {
    display: flex;
    flex-direction: column-reverse;
  }

  .title-img, .feature-img {
    margin-bottom: 50px;
  }
}
